<html>
    <head>
        <title>Mokka</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="/assets/plugins/snackbar/dist/snackbar.min.css">
        <link rel="stylesheet" href="/assets/plugins/croppie/croppie.css">
        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/plugins/snackbar/dist/snackbar.min.js"></script>
        <script type="text/javascript" src="/assets/plugins/croppie/croppie.min.js"></script>
        <script type="text/javascript" src="/assets/js/main.js"></script>
        <script defer src="http://localhost:7777/socket.io/socket.io.js"></script>
        <script defer src="/assets/js/socket.js"></script>
    </head>
    <body>
        <%- body %>
    </body>
</html>